<footer id="footer" class="main-content-wrap">
    <span class="copyrights">
        Copyrights &copy; <%= config.start %> - <%= date(new Date(), 'YYYY') + ' ' + config.author || config.title %>. All Rights Reserved.
        <br>
        <%= __('Powered by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>, themed by <a href="https://github.com/LouisBarranqueiro/hexo-theme-tranquilpeak" target="_blank">Tranquilpeak</a>
    </span>
</footer>
